body {
	position: relative;
	margin: 0;
	padding: 0;
}

form {
	margin-bottom: 20px;
}

#wrapper {
	position: relative;
	margin: 0 auto;
}

.btn {
	overflow: hidden;
	position: relative;
}

.btn.btn-start,.btn.btn-start:hover,.btn.btn-start:active {
	background: none;
}

#upload_target {
	display: none;
}

canvas {
	width: 100%
}

h3 >.badge {
	vertical-align: middle
}

small {
	color: #ccc;
}